.htaccess
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-includes
wp-cron.php
wp-config.php
wp-config-sample.php
wp-comments-post.php
wp-blog-header.php
wp-admin
wp-activate.php
readme.html
license.txt
wp-content/uploads
wp-content/upgrade
.DS_Store
node_modules
.sass-cache
wp-content/themes/twentytwentyone
wp-content/themes/twentytwenty
wp-content/themes/twentynineteen
wp-content/themes/twentyseventeen
wp-content/themes/twentysixteen
wp-content/plugins/hello.php
wp-content/plugins/akismet
wp-content/plugins/nninc-blocks
wp-content/plugins/all-in-one-wp-migration/storage/*
wp-content/plugins/*
wp-content/webp-express/*
ai1wm-backups/

**/dist/hot/*

npm-debug.log
package-lock.json
