footer {
    margin: $spacer 0;

    .footer__social__link {
        margin-bottom: 20px;
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    .footer__social__link a img {
        max-height: 40px;
        width: 40px;
    }

    .footer__info {
        div { margin-bottom: $spacer-less; }
        img { width: 100px; }
    }

    .footer__breadcrumb svg {
        max-width: 60px;
        width: 60px;
    }
}
