.home {
    .home__primary {
        height: 100vh;

        .home__primary__hero {
            height: 66vh;
            margin: 5vh 0;
        }

        .arrow__container {
            max-height: 20vh;

            img {
                max-height: 100%;
            }
        }
    }

    .home__secondary {
        background-color: $white;
        margin: 0 $spacer-more;
        padding: $spacer-more 0;

        .home__secondary__menu {
            h1 {
                margin-bottom: $spacer;
            }

            h2 {
                margin-bottom: $spacer-less;
            }

            p {
                margin-bottom: $spacer;
            }
        }
    }
}
