$max-width: 1380px;

$black: #000;
$white: #fff;
$gray: #383838;
$yellow: #ffca02;

$menu-break: 1124px;
$tablet-break: 1024px;
$mobile-break: 768px;

$spacer: 30px;
$spacer-less: 18px;
$spacer-more: 70px;

$transition-time: 0.25s;
